.midashigopro-mb31{
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Alternate Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../fonts/DINAlternate-Bold.woff') format('woff');
}

@font-face {
    font-family: 'bananaslipplus';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../fonts/bananaslipplus.otf') format('opentype');
}