.sect_6 {
	position: relative;
	overflow: hidden;
	@include is-sp {
		overflow: hidden;
		position: relative;
	}

	&__image {
		width: 650px;
		position: absolute;
		top: 0%;
		right: 50%;
		transform: translate(90%, 0);

		@include is-max(1090px){
			width: 60%;
			right: -70px;
			transform: unset;
		}

		@include is-sp {
			width: 100%;
			position: relative;
			// top: 0%;
			right: -15%;
		}
	}

	&__text {
		position: absolute;
		top: 600px;
		right: -150px;
		transform: rotate(90deg);
		color: #d88e9b;
		font-size: 28px;
		font-weight: 700;

		@include is-max(1090px){
			right: -70px;
		}

		@include is-sp {
			top: 100px;
			right: unset;
			left: -35px;
		}
	}

	.l-wrap {
		position: relative;
		@include is-sp {
			padding-left: 30px !important;
			padding-right: 30px !important;
			position: unset;
		}
	}

	.heat {
		display: flex;
		flex-wrap: wrap;
		padding: 160px 0 0 0;

		@include is-sp{
			padding: 0;
		}

		&__col-1 {
			width: 50%;
			padding: 0 60px;
			position: relative;
			&::after{
				content: "";
				display: block;
				width: 1px;
				height: 1500px;
				background-color: #d88e9b;
				position: absolute;
				bottom: 30px;
				right: 0;

				@include is-sp{
					display: none;
				}
			}

			@include is-max(1090px){
				padding: 0 30px;
			}

			@include is-sp {
				width: 100%;
				padding: 0 0 65px 0;
				border-bottom: 1px solid #d88e9b;
			}

			.title {
				color: #d88e9b;
				font-weight: 700;
				@include font-line(32);
			}

			.content {
				font-weight: 400;
				padding: 20px 0 50px 0;
				@include font-line(18, 29.7);
			}

			.g2 {
				font-weight: 500;
				padding: 60px 0 0 0;
				@include font-line(16);

				@include is-sp{
					padding: 40px 0 0 0;
				}
			}

			table {
				margin: 35px 0 20px;
				width: 100%;
				border-collapse: collapse;
				tr {
					th{
						width: 65px;
						font-weight: 700;
						@include font-line(16);
						color: #d88e9b;
						border-top: 1px solid #d88e9b;
						border-bottom: 1px solid #d88e9b;
						border-right: 1px dotted #d88e9b;
					}
					td{
						width: calc(100% - 65px);
						font-weight: 400;
						@include font-line(16);
						color: #000;
						padding: 10px;
						border-top: 1px solid #d88e9b;
						border-bottom: 1px solid #d88e9b;
					}
				}
			}

			.note {
				font-weight: 500;
				@include font-line(16);
			}

			.heat20 {
				font-weight: 400;
				@include font-line(18);
				padding: 100px 0 0 0;

				@include is-sp{
					padding: 40px 0 0 0;
				}

				.heat_loss {
					font-weight: 700;
					color: #d88e9b;
					@include font-line(18);
				}
			}
		}

		&__divider {
			padding-top: 280px;

			@include is-sp {
				padding-top: 65px;
			}

			.img-1 {
				@include is-sp {
					display: none;
				}
			}

			.img-2 {
				@include is-pc {
					display: none;
				}
			}
		}

		&__col-2 {
			width: 50%;
			z-index: 999;
			padding: 30px 60px 30px 60px;

			@include is-max(1090px){
				padding: 30px;
			}

			@include is-sp {
				width: 100%;
				padding: 0;
				order: 3;
			}

			.title {
				color: #d88e9b;
				font-weight: 600;
				@include font-line(32);
				padding: 275px 0 0 0;

				@include is-sp {
					padding: 45px 0 0 0;
				}
			}

			.content {
				font-weight: 400;
				@include font-line(18, 29.7);
				padding: 20px 0 40px 0;

				@include is-sp{
					padding: 50px 0 40px 0;
				}
			}

			.seismic_grade {
				font-size: 18px;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(18);

				@include is-sp {
					@include font-line(16);
					padding: 30px 0 60px 0;
				}

				span {
					color: #d88e9b;
					font-weight: 700;
				}
			}
		}

		.fuel {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding: 60px 0;
			justify-content: center;
			margin: 0 auto;
	
			@include is-sp {
				order: 2;
				border-bottom: 1px solid #d88e9b;
				padding: 30px 0;
			}
	
			&__col-1 {
				width: calc(100% - 580px);
				padding: 20px 35px 0 60px;
				
				@include is-max(1090px){
					padding: 20px 35px 0 30px;
				}

				@include is-max(1000px){
					width: 100%;
					padding: 20px 35px 0 0;
				}

				@include is-sp{
					padding: 0 0 0 0;
				}

				.title {
					font-weight: 700;
					color: #d88e9b;
					@include font-line(32);
				}
	
				.desc {
					font-weight: 400;
					padding: 20px 0 0 0;
					@include font-line(18);
					
				}
			}
	
			&__col-2 {
				width: 580px;
				padding: 20px 0;
	
				@include is-max(1000px){
					width: 100%;

				}

				.title {
					font-weight: 500;
					@include font-line(16);
					margin-bottom: 20px;

					@include is-sp{
						@include font-line(14);
					}
				}
	
				.table_1{
					width: 100%;
					border-collapse: collapse;
					border: 1px solid #000;
					tr{
						td{
							width: calc(100% / 4);
							border-left: 1px solid #000;
							text-align: center;
							font-weight: 400;
							@include font-line(16);
							padding: 5px 0;
						}
	
						&:nth-of-type(1){
							td{
								border-bottom: 1px dotted #000;
							}
						}
					}
				}
	
				.table_2{
					width: 100%;
					border-collapse: collapse;
					border-bottom: 1px solid #000;
					margin-top: 20px;
					tr{
						td{
							border-top: 1px solid;
							text-align: center;
							padding: 5px 0;
							font-weight: 400;
							@include font-line(16);
							position: relative;
							&:not(:first-child){
								border-left: 1px solid #000;
							}
	
							.pl01{
								font-weight: 700;
								@include font-line(18);
								color: #d88e9b;
							}
	
							.bold{
								font-weight: 700;
							}

							&.sp{
								@include is-sp{
									display: none;
								}
							}
						}
						.br_left_dotted{
							border: none !important;
	
							&:nth-of-type(1){
								border-left: 1px solid #000 !important;
							}
	
							&:nth-of-type(1), &:nth-of-type(2){
								border-right: 1px dotted #000 !important;
							} 
	
							&:nth-of-type(3){
								border-right: 1px solid #000 !important;
							} 
						}
						.br_lt_dotted{
							border: none !important;
							border-top: 1px solid #000 !important;
							border-left: 1px dotted #000 !important;
						}
						.first{
							width: 90px;
						}
						.second{
							width: 140px;
							background-color: #f5f5f5;
							.second_head{
								font-weight: 700;
								@include font-line(16);
								color: #000;
							}
	
							.second_sub{
								font-weight: 400;
								@include font-line(16);
								color: #000;
								letter-spacing: -2px;
							}
						}
						.second_price{
							font-weight: 700;
							@include font-line(18);
							color: #000;
						}
						.second_color{
							font-weight: 700;
							@include font-line(16);
							color: #d88e9b;
						}
						.second_2line_border{
							&::before{
								content: "";
								display: block;
								width: 5px;
								height: 100%;
								background-color: #fff;
								position: absolute;
								top: 0;
								left: 0;
								border-right: 1px solid #000;
							}
							&::after{
								content: "";
								display: block;
								width: 5px;
								height: 100%;
								background-color: #fff;
								position: absolute;
								top: 0;
								right: 0;
								border-left: 1px solid #000;
							}
						}

						.second_2line_border_sp{
							&::after{
								content: "";
								display: block;
								width: 3px;
								height: 100%;
								background-color: #fff;
								position: absolute;
								top: 0;
								right: -7px;
								border-left: 1px solid #000;
							}
						}
					}

					&.sp{
						display: none;
						border: none;
						tr{
							border-bottom: 1px solid #000;
							border-right: 1px solid #000;
						}
						@include is-sp{
							display: block;
						}
					}
				}
	
				.table-3 {
					padding-bottom: 20px;
				}
			}
		}
	}

	
}
