.sect_6 {
	position: relative;

	@include is-sp {
		overflow: hidden;
	}

	&__image {
		width: 45%;
		position: absolute;
		top: 0%;
		right: 5%;

		@include is-sp {
			width: 100%;
			position: absolute;
			top: 0%;
			right: -15%;
		}
	}

	&__text {
		position: absolute;
		top: 27%;
		right: 1%;
		transform: rotate(90deg);
		color: #d88e9b;
		font-size: 28px;
		font-weight: 700;

		@include is-sp {
			top: 4%;
			right: 70%;
		}
	}

	.l-wrap {
		@include is-sp {
			padding-left: 30px !important;
			padding-right: 30px !important;
		}
	}

	.heat {
		display: flex;
		padding: 200px 0 0 0;

		@include is-sp {
			display: block;
		}

		&__col-1 {
			width: 50%;
			padding: 30px;

			@include is-sp {
				width: 100%;
				padding: 200px 0 0 0;
			}

			.title {
				color: #d88e9b;
				font-size: 32px;
				font-weight: 600;

				@include font-line(32);
			}

			.content {
				font-size: 18px;
				font-weight: 500;
				padding: 20px 0 40px 0;

				@include font-line(18);

				@include is-sp {
					@include font-line(16);
				}
			}

			.g2 {
				font-size: 16px;
				font-weight: 500;
				padding: 60px 0 0 0;

				@include font-line(16);
			}

			.note {
				font-size: 16px;
				font-weight: 500;

				@include font-line(16);
			}

			table {
				padding: 35px 0;

				td {
					font-weight: 400;
				}
			}

			.heat20 {
				font-size: 18px;
				font-weight: 400;
				padding: 40px 0 0 0;

				@include font-line(18);

				@include is-sp {
					@include font-line(17);
				}
			}

			.heat_loss {
				font-size: 18px;
				font-weight: 700;
				color: #d88e9b;

				@include font-line(18);
			}
		}

		&__divider {
			padding-top: 280px;

			@include is-sp {
				padding-top: 65px;
			}

			.img-1 {
				@include is-sp {
					display: none;
				}
			}

			.img-2 {
				@include is-pc {
					display: none;
				}
			}
		}

		&__col-2 {
			width: 50%;
			z-index: 999;
			padding: 30px 10px 30px 60px;

			@include is-sp {
				width: 100%;
				padding: 0;
			}

			.title {
				color: #d88e9b;
				font-size: 32px;
				font-weight: 600;
				padding: 275px 0 0 0;

				@include font-line(32);

				@include is-sp {
					padding: 45px 0 0 0;
				}
			}

			.content {
				font-size: 18px;
				font-weight: 500;
				padding: 20px 0 40px 0;

				@include font-line(18);

				@include is-sp {
					@include font-line(16);
				}
			}

			.seismic_grade {
				font-size: 18px;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(18);

				@include is-sp {
					@include font-line(16);
					padding: 30px 0 60px 0;
				}

				span {
					color: #d88e9b;
					font-weight: 700;
				}
			}
		}
	}

	.fuel {
		display: flex;
		padding: 60px 0;
		justify-content: center;
		margin: 0 auto;

		@include is-sp {
			display: none;
		}

		&__col-1 {
			width: 47%;
			padding: 20px;

			.title {
				font-size: 32px;
				font-weight: 700;
				color: #d88e9b;

				@include font-line(32);
			}

			.desc {
				font-size: 18;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(18);
			}
		}

		&__col-2 {
			width: 55%;
			padding: 20px 0;

			.title {
				font-size: 16px;
				font-weight: 500;

				@include font-line(16);
			}

			.table-3 {
				padding-bottom: 20px;
			}
		}
	}
}
