.sect_6 {
	position: relative;
	overflow: hidden;
	@include is-sp {
		overflow: hidden;
		position: relative;
	}

	&__image {
		width: 650px;
		position: absolute;
		top: 0%;
		right: 50%;
		transform: translate(90%, 0);

		@include is-max(1090px){
			width: 60%;
			right: -70px;
			transform: unset;
		}

		@include is-sp {
			width: 100%;
			position: relative;
			// top: 0%;
			right: -15%;
		}
	}

	&__text {
		position: absolute;
		top: 600px;
		right: -150px;
		transform: rotate(90deg);
		color: #d88e9b;
		font-size: 28px;
		font-weight: 700;

		@include is-max(1090px){
			right: -70px;
		}

		@include is-sp {
			top: 100px;
			right: unset;
			left: -35px;
		}
	}

	.l-wrap {
		position: relative;
		@include is-sp {
			padding-left: 30px !important;
			padding-right: 30px !important;
			position: unset;
		}
	}

	.heat {
		display: flex;
		flex-wrap: wrap;
		padding: 160px 0 0 0;

		@include is-sp{
			padding: 0;
		}

		&__col-1 {
			width: 50%;
			padding: 0 60px;
			position: relative;
			&::after{
				content: "";
				display: block;
				width: 1px;
				height: 1500px;
				background-color: #d88e9b;
				position: absolute;
				bottom: 30px;
				right: 0;

				@include is-sp{
					display: none;
				}
			}

			@include is-max(1090px){
				padding: 0 30px;
			}

			@include is-sp {
				width: 100%;
				padding: 0 0 65px 0;
				border-bottom: 1px solid #d88e9b;
			}

			.title {
				color: #d88e9b;
				font-weight: 700;
				@include font-line(32);
			}

			.content {
				font-weight: 500;
				padding: 20px 0 50px 0;
				@include font-line(18, 29.7);
                letter-spacing: -1px;
			}

			.g2 {
				font-weight: 500;
				padding: 60px 0 0 0;
				@include font-line(16);

				@include is-sp{
					padding: 40px 0 0 0;
				}
			}

			table {
				margin: 35px 0 20px;
				width: 100%;
				border-collapse: collapse;
				tr {
					th{
						width: 65px;
						font-weight: 700;
						@include font-line(16);
						color: #d88e9b;
						border-top: 1px solid #000;
						border-bottom: 1px solid #000;
						border-right: 1px dotted #000;
					}
					td{
						width: calc(100% - 65px);
						font-weight: 500;
						@include font-line(16);
						color: #000;
						padding: 10px;
						border-top: 1px solid #000;
						border-bottom: 1px solid #000;

						@include is-sp{
							padding: 5px 10px;
						}
					}
				}
			}

			.note {
				font-weight: 500;
				@include font-line(16);
			}

			.heat20 {
				font-weight: 500;
				@include font-line(18);
				padding: 100px 0 0 0;

				@include is-sp{
					padding: 40px 0 0 0;
				}

				.heat_loss {
					font-weight: 700;
					color: #d88e9b;
					@include font-line(18);
				}
			}
		}

		&__divider {
			padding-top: 280px;

			@include is-sp {
				padding-top: 65px;
			}

			.img-1 {
				@include is-sp {
					display: none;
				}
			}

			.img-2 {
				@include is-pc {
					display: none;
				}
			}
		}

		&__col-2 {
			width: 50%;
			z-index: 999;
			padding: 30px 60px 30px 60px;

			@include is-max(1090px){
				padding: 30px;
			}

			@include is-sp {
				width: 100%;
				padding: 0;
				order: 3;
			}

			.title {
				color: #d88e9b;
				font-weight: 600;
				@include font-line(32);
				padding: 275px 0 0 0;

				@include is-sp {
					padding: 45px 0 0 0;
				}
			}

			.content {
				font-weight: 500;
				@include font-line(18, 29.7);
				padding: 20px 0 40px 0;

				@include is-sp{
					padding: 50px 0 40px 0;
				}
			}

			.seismic_grade {
				font-size: 18px;
				font-weight: 500;
				padding: 20px 0 0 0;

				@include font-line(18);

				@include is-sp {
					@include font-line(16);
					padding: 30px 0 60px 0;
				}

				span {
					color: #d88e9b;
					font-weight: 700;
				}
			}
		}

		.fuel {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 60px 0 0 0;
            justify-content: flex-end;
            margin: 0 auto;
			@include is-max(1090px){
				justify-content: space-between;
			}

            @include is-sp {
                // order: 2;
                border-bottom: 1px solid #D88E9B;
                padding: 50px 0 60px;
            }
            &__col-1 {
                width: 270px;
                margin-right: 40px;
                @include is-max(1090px) {
                    padding: 0;
					width: 30%;
					margin-right: 0;
                }
                @include is-max(1000px) {
                    width: 100%;
                    padding: 20px 35px 0 0;
                }
                @include is-sp {
                    width: 100%;
                    padding: 0 0 0 0;
                    margin-right: 0;
                }
                .title {
                    font-weight: 700;
                    color: #D88E9B;
                    @include font-line(32, 46);
                    br {
                        @include is-pc {
                            display: block;
                        }
                        @include is-sp {
                            display: none;
                        }
                    }
                }
                .desc {
                    font-weight: 500;
                    padding: 20px 0 0 0;
                    @include font-line(18, 29.7);

					@include is-sp{
						padding: 30px 0 20px;
					}
                }
            }
            &__col-2 {
                width: 720px;
                padding: 20px 0 0 0;
                display: flex;
                justify-content: space-between;
                @include is-max(1090px) {
                    width: 66.06%;
                }
				@include is-max(1000px) {
                    width: 100%;
                }
                @include is-sp {
                    flex-wrap: wrap;
                    order: 3;
					padding: 30px 0 0 0;
                }
                &__box-1 {
                    border-radius: 10px;
                    border: 1px solid #D88E9B;
                    padding: 15px;
                    width: 27.78%;
                    @include is-sp {
                        width: 48%;
                    }
                    @include is-max(400px) {
                        width: 100%;
                    }
                    .title {
                        font-size: 16px;
                        font-weight: 700;
                        padding: 15px;
                        background: #D88E9B;
                        color: #fff;
                        text-align: center;
                        @include font-line(16);
                    }
                    .box_cont {
                        border-bottom: 1px solid #D88E9B;
                        padding: 15px 0 11px 0;
                        width: 100%;
                        display: flex;
						align-items: center;
                        justify-content: space-between;
                        .year {
                            font-size: 14px;
                            font-weight: 700;
                            color: #D88E9B;
                            @include font-line(14);
                        }
                        .price {
                            font-weight: 700;
                            text-align: right;
                            color: #000;
                            @include font-line(16);
                        }
                    }
                }
                &__box-2 {
                    border-radius: 10px;
                    border: 1px solid #D88E9B;
                    padding: 15px;
                    width: 27.78%;
                    @include is-sp {
                        width: 48%;
                    }
                    @include is-max(400px) {
                        width: 100%;
                        margin: 20px 0 0 0;
                    }
                    .title {
                        font-weight: 700;
                        padding: 15px;
                        background: #D88E9B;
                        color: #fff;
                        text-align: center;
                        @include font-line(16);
                    }
                    .box_cont {
                        border-bottom: 1px solid #D88E9B;
                        padding: 10px 0 9px 0;
                        width: 100%;
                        display: flex;
						align-items: center;
                        justify-content: space-between;
						
                        .year {
                            font-size: 14px;
                            font-weight: 700;
                            color: #D88E9B;
                            @include font-line(14);
                        }
                        .price {
                            font-size: 16px;
                            font-weight: 700;
                            text-align: right;
                            color: #000;
                            @include font-line(16);
                        }

						.f20{
                            font-weight: 700;
                            text-align: right;
                            color: #000;
                            @include font-line(20);
						}
                    }
                    .box_cont_2 {
                        border-bottom: 1px solid #D88E9B;
                        padding: 15px 0 10px;
                        .year {
                            font-size: 14px;
                            font-weight: 700;
                            color: #D88E9B;
                            @include font-line(14);
                        }
                        .price {
                            font-weight: 700;
                            text-align: right;
                            color: #000;
                            @include font-line(18);
                        }
                    }
                }
                &__box-3 {
                    border-radius: 10px;
                    border: 6px solid #D88E9B;
                    padding: 11px 20px;
                    width: 40%;
                    @include is-sp {
                        width: 100%;
                        margin: 20px 0 0 0;
                    }
                    .title {
                        font-size: 16px;
                        font-weight: 700;
                        padding: 15px;
                        background: #D88E9B;
                        color: #fff;
                        text-align: center;
                        @include font-line(16);
                    }
                    .box_cont {
                        border-bottom: 1px solid #D88E9B;
                        padding: 10px 0 8px 0;
                        width: 100%;
                        display: flex;
						align-items: center;
                        justify-content: space-between;
                        .year {
                            font-size: 14px;
                            font-weight: 700;
                            color: #D88E9B;
                            @include font-line(14);
                        }
                        .price {
                            font-weight: 700;
                            text-align: right;
                            color: #000;
                            @include font-line(20);
                        }
                    }
                    .box_cont_2 {
                        border-bottom: 1px solid #D88E9B;
                        padding: 15px 0 10px;
                        @include is-sp {
                            display: flex;
                            justify-content: space-between;
                        }
                        .year {
                            font-weight: 700;
                            color: #D88E9B;
                            @include font-line(14);
                        }
                        .price {
                            font-weight: 700;
                            text-align: right;
                            color: #000;
                            @include font-line(18);
                        }
                    }
                    .offer {
                        font-weight: 500;
                        padding: 10px 0 0 0;
                        @include font-line(14);
                    }
                }
            }
            .methods {
                text-align: left;
                padding: 30px 0 100px 60px;
                width: 100%;

				@include is-max(1090px){
					padding: 30px 0 100px 0;
				}

                @include is-sp {
                    padding: 0;
                    order: 2;
                }
                li {
                    text-decoration: none;
                    font-weight: 500;
                    @include font-line(14);
                }
            }
        }
	}
}
