.sect_1{
    
    &__wrapper{
        width: 100%;
        position: relative;
        padding-top: 35px;

        .hero_slider_cont{
            position: relative;

            .hero_slider{
                div{
                    img{
                        width: 100%;
                        height: 684px;
                        object-fit: cover;

                        @include is-sp{
                            height: 684px;
                            object-fit: cover;
                        }
                    }
                }
            }

            .hero_txt{
                font-weight: 700;
                font-family: "Noto Sans JP", sans-serif;
                @include font-line(24);
                color: #d88e9b;

                writing-mode: vertical-rl;
                text-orientation: mixed;

                position: absolute;
                top: 0;
                right: 11%;

                @include is-sp(){
                    right: 3%;
                }

                span{
                    font-weight: 700;
                    font-family: "Noto Sans JP", sans-serif;
                    @include font-line(18);
                }
            }

            .slick-slide {
                margin-right: 105px;
                transition: all 450ms;
            
                @include is-sp{
                   margin-right: 80px;;
                }
            }
            
            .slick-active{
                transition: all 450ms;
                transform: rotate(-3deg);
            
                @include is-sp{
                    transform: unset;
                }
            }
            
            .slick-dots {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 1rem 0;
                
                list-style-type: none;
                
                li {
                    margin: 0 0.25rem;
                }
            
                button {
                    display: block;
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    
                    border: none;
                    border-radius: 100%;
                    background-color: #dcdcdc;
                    
                    text-indent: -9999px;
                }
            
                li.slick-active button {
                    background-color: #000000;
                }
                
            }
            
        }
    }
}

